[user]
	email = andronics@gmail.com
	name = Stephen Cox

[core]
	editor = nano
	hooksPath = /home/andronics/.git-hooks

[credential]
	helper = store

[init]
	defaultbranch = main

[pull]
	rebase = true
	
[rebase]
	autoStash = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
