[user]
	email = andronics@gmail.com
	name = Stephen Cox

[core]
	editor = nano

[credential]
	helper = store

[init]
	defaultbranch = trunk

[pull]
	rebase = true

# [url "git@github.com:"]
# 	insteadOf = https://github.com/
