[submodule "shell/.gnupg"]
	path = shell/.gnupg
	url = https://github.com/andronics/gnupg
[submodule "shell/.ssh"]
	path = shell/.ssh
	url = https://github.com/andronics/ssh
[submodule "shell/tmux/plugins/tpm"]
	path = shell/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
