[Desktop Entry]
Version=1.0
Name=tmux
Comment=Terminal multiplexer
Exec=alacritty -e tmux new-session -A -s main
TryExec=tmux
Icon=tmux
Type=Application
Categories=System;TerminalEmulator;
X-Desktop-File-Install-Version=0.23
