{
    "url": "https://api.authy.com/json",
    "device_name": "Linux (mambembi@desktop)",
    "signature": "{{ print "app/membembe/signature" | pass  }}",
    "authy_id": "{{ print "app/membembe/authy_id" | pass }}",
    "request_id": null,
    "device": {
      "id": "{{ print "app/membembe/device_id" | pass }}",
      "secret_seed": "{{ print "app/membembe/device_secret_seed" | pass }}"
    },
    "time_sync": null,
    "private_key": null,
    "backup_password": "{{ print "app/membembe/backup_password" | pass }}"
}