[Unit]
Description=Auto-commit password store changes

[Service]
ExecStart=%h/.local/bin/password-store-autocommit
Restart=always
Environment="SSH_AUTH_SOCK=/run/user/%U/gnupg/S.gpg-agent.ssh"

[Install]
WantedBy=default.target
