[Unit]
Description=Remote Cloud Syncronisation
Requisite=remote-mount@%i.service
After=remote-mount@%i.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/remote sync "%i"

[Install]
WantedBy=timers.target